# Jetbrains IDE

/.idea/

# Python3 bytecode

__pycache__

# Pytest JUnit results

/test_results/

# Virtualenv

/venv/

# Build

/build/
/dist/
/markdown_lt.egg-info/

# Coverage report

/.coverage
/htmlcov
